[submodule "gradio"]
	path = gradio
	url = https://github.com/gradio-app/gradio
	branch = v3.24.1
[submodule "litegraph"]
	path = litegraph
	url = https://github.com/space-nuko/litegraph.ts
[submodule "klecks"]
	path = klecks
	url = https://github.com/space-nuko/klecks
	branch = comfybox
